{{ "header.scss" | asset_url | stylesheet_tag }}


{% comment %}<header class="header">
	<div class="container">
		<nav class="navbar">
			<img class="logo" src="{{ 'logo.svg' | asset_url }}"/>
			<ul class="nav_links">
				{% for link in linklists.main-menu.links %}
					<li class="link {{ link.title }}">{{ link.title }}</li>
				{% endfor %}
			</ul>
		</nav>
		<nav class="navbar-mobile">
			<div class="mobile-header">
				<img class="logo" src="{{ 'logo.svg' | asset_url }}"/>
				<div class="menu-button"></div>
			</div>
			<ul class="mobile_nav_links">
				{% for link in linklists.main-menu.links %}
					<li class="mobile_link {{ link.title }}">{{ link.title }}</li>
				{% endfor %}
			</ul>
		</nav>

	</div>
</header>{% endcomment %}
<header id="header" class="header">
	<div class="container head">
		<a href="#hero" class="logo" id="header-hero">
			<img class="logo-black" src="{{ 'logo.svg' | asset_url }}"/>
			<img class="logo-white" src="{{ 'logo-white.svg' | asset_url }}"/>
		</a>
		<div id="menu-button"></div>
		<nav class="navbar">
			<div>
				<ul class="navbar-navigate">
					<li class="link"><a href="#mission" id="header-mission">Mission</a></li>
					<li class="link"><a href="#services" id="header-services">Services</a></li>
					<li class="link"><a href="#team" id="header-team">Team</a></li>
					<li class="link"><a href="#news" id="header-news">News</a></li>
					<li class="link"><a href="#footer" id="header-footer">Contact</a></li>
				</ul>
				<a class="contactus yellow">CONTACT US
					<img class="plug" src="{{ "plug.svg" | asset_url }}" alt="">
				</a>
			</div>
		</nav>
	</div>
</header>
<script>


</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }}
      {{ settings.social_facebook_link | json }}
      {{ settings.social_pinterest_link | json }}
      {{ settings.social_instagram_link | json }}
      {{ settings.social_tiktok_link | json }}
      {{ settings.social_tumblr_link | json }}
      {{ settings.social_snapchat_link | json }}
      {{ settings.social_youtube_link | json }}
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }

</script>

{%- if request.page_type == 'index' -%}
	{% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
	<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }

	</script>
{%- endif -%}

