{{ "team.scss" | asset_url | stylesheet_tag }}

<section class="team">
	<h2 class="section-title">{{ section.settings.section_title }}</h2>
	<div class="bar yellow"></div>
	<div class="team-cards">
		{% for block in section.blocks %}
			{% case block.type %}
				{% when 'item' %}
					<div class="card">
						{{ block.settings.photo |  image_url: width: 228 | image_tag: class: 'photo' }}
						<div class="meet">
							<p class="text">{{ block.settings.meet }}</p>
							{{ block.settings.arrow | image_url: width: 43 | image_tag }}
						</div>
						<p class="name">{{ block.settings.name }}</p>
						<p class="post">{{ block.settings.post }}</p>
						<p class="story">{{ block.settings.story }}</p>
						<div class="career-history">
							<p class="list-title">Career History</p>
							{{ block.settings.career_history }}
						</div>
						<div class="education">
							<p class="list-title">Education</p>
							{{ block.settings.education }}
						</div>
						<div class="socials">
							<a href="#">{{ block.settings.socials_1 | image_url: width: 32 | image_tag}}</a>
							<a href="#">{{ block.settings.socials_2 | image_url: width: 32 | image_tag}}</a>
						</div>
					</div>
			{% endcase %}
		{% endfor %}
	</div>
</section>

{% schema %}
{
	"name": "Team",
	"max_blocks": 2,
	"settings": [
		{
			"id": "section_title",
			"type": "text",
			"label": "Section Title",
			"default": "Team"
		}
	],
	"blocks": [
		{
			"type": "item",
			"name": "Team Card",
			"settings": [
				{
					"id": "meet",
					"type": "text",
					"label": "Meet Name"
				},
				{
					"id": "arrow",
					"type": "image_picker",
					"label": "Arrow"
				},
				{
					"id": "name",
					"type": "text",
					"label": "Teammate Name"
				},
				{
					"id": "photo",
					"type": "image_picker",
					"label": "Photo"
				},
				{
					"id": "post",
					"type": "text",
					"label": "Teammate post"
				},
				{
					"id": "story",
					"type": "text",
					"label": "Story"
				},
				{
					"id": "career_history",
					"type": "html",
					"label": "Career History"
				},
				{
					"id": "education",
					"type": "html",
					"label": "Education"
				},
				{
					"id": "socials_1",
					"type": "image_picker",
					"label": "Socials"
				},
				{
					"id": "socials_2",
					"type": "image_picker",
					"label": "Socials"
				}
			]
		}
	]
}
{% endschema %}